<div class="container">

  <div class="text-center">
    <button (click)="fetchSuccess()" class="btn btn-primary">Fetch Success</button>
    <button (click)="fetchError()" class="btn btn-danger">Fetch Error</button>


    <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    <ul class="list-group" *ngIf="!loading">
      <li *ngFor="let title of titles" class="list-group-item"> {{title.title}}</li>
    </ul>
  </div>
</div>